[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
codecov = "*"
mock = "*"
pytest-cov = "*"
readme-renderer = "*"
docutils = "*"
"flake8" = "*"
responses = "*"
atomicwrites = "*"

[packages]
aws-okta-processor = {path = "."}
